body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

nav {
    display: grid;
    place-items: center;
    background-color: rgb(4, 4, 185);
    color: white;
}

#search {
    display: flex;
    align-items: center;
    gap: .5rem;
}

input#searchBar {
    border-radius: 8px;
    border: none;
    background-color: rgb(233, 238, 238);
    padding: 5px;
    font-size: 1rem;
}

button {
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 1rem;
    background-color: whitesmoke;
}

button:hover {
    background-color: rgb(217, 217, 217);
    cursor: pointer;
}

button:active {
    transform: translate(1px, 1px);
}

#highLow {
    display: flex;
    gap: .5rem;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-image: url(images/blue-sky.jpg);
    background-size: cover;
}

#weather {
    grid-row: 1;
    grid-column: 1;
    margin-top: 15%;
    margin-left: 10%;
    color: white;
}

#name {
    font-size: 3.5rem;
    font-weight: normal;
    margin: 0;
}

#temp {
    font-size: 5rem;
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
    font-size: 1.5rem;
}

#weather #bottom {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.hidden {
    display: none;
}

.errorMessage {
    color: white;
    position: fixed;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-weight: normal;
}