@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(4, 4, 185);
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}

#logo {
    justify-self: flex-start;
    display: flex;
    align-items: center;
    gap: .4rem;
    font-family: 'Patua One', cursive;
}

#logo img {
    height: 42px;
}

#logo:hover {
    cursor: pointer;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 70%;
}

#searchBtn {
    height: 32px;
}

#searchBtn:hover {
    cursor: pointer
}

input#searchBar {
    border-radius: 8px;
    border: none;
    background-color: rgb(233, 238, 238);
    padding: 5px;
    font-size: 1rem;
    width: 80%;
}

#tempConvert {
    display: flex;
    justify-self: flex-end;
    justify-content: space-evenly;
}

.tempChanger:hover {
    cursor: pointer;
    color: rgb(0, 204, 255);
}

.tempChanger:active {
    transform: translate(1px, 1px);
}

.currentTemp {
    color: rgb(0, 204, 255);
}

#highLow {
    display: flex;
    gap: .5rem;
}

@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }

}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-image: url(images/blue-sky.jpg);
    background-size: cover;
}

#weather {
    grid-row: 1;
    grid-column: 1;
    margin-top: 15%;
    margin-left: 10%;
    color: white;
    animation: .5s linear fadein;
}

#name {
    font-size: 3.5rem;
    font-weight: normal;
    margin: 0;
}

#temp {
    font-size: 5rem;
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
    font-size: 1.5rem;
}

#weather #bottom {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.hidden {
    display: none;
}

.errorMessage {
    color: white;
    position: fixed;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-weight: normal;
    font-size: 3rem;
}